body {
  font-family: Arial, sans-serif;
  background-color: #717171;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Make sure the body takes at least the viewport height */
  text-align: center; /* Centers the text elements like h1 */
}

.header h1 {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: solid;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.sidebar {
  padding: 10px;
  border: 8px ridge rgba(0, 0, 0, .6);
}

.sidebar2 {
  padding: 10px;
}

.left {
  order: 1;
}

.center-content {
  order: 2;
}

.right {
  order: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 2px;
  margin-top: 15px;
  margin-right: 100px;

}

.grid-cell {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: red;
  background-color: silver;

}


.robot {
  background-image: url('images/robot.png'); /* Path to the robot image */
  background-size: cover;
  width: 50px;
  height: 50px;
  z-index: 100; /* Make the robot appear on top of the arrow */
}

.wall {
  background-image: url('images/wall.png'); /* Path to the wall image */
  background-size: cover;
  width: 50px;
  height: 50px;


}

.diamond {
  background-image: url('images/diamond.png'); /* Path to the diamond image */
  background-size: cover;
  width: 50px;
  height: 50px;
}

#controls {
  margin-top: 70px;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 10px;
  color: silver;
  cursor: pointer;
  border-radius: 12px;

}

.mirror-image {
  transform: scaleX(-1);
}

select {
  padding: 10px;
  font-size: 16px;
}

/* CSS for the buttons */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.move-forward-btn,
.turn-left-btn,
.turn-right-btn,

.pick-diamond-btn {
  padding: 30px 50px;
  font-size: 30px;
  background-color: #45a049;
  color: white;
  cursor: pointer;
}

.move-forward-btn:hover,
.turn-left-btn:hover,
.turn-right-btn:hover,
.pick-diamond-btn:hover {
  background-color: #317134;
}

